html { 
    margin: 0;
}

body {
    margin: 0;
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container input {
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
}

.container button {
    background-color: aquamarine;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}